.title {
  text-align: center;
  font-size: 70px;
  font-weight: 400;
  line-height: 78px;
  font-style: Regular;
}
.container {
  width: 1110px;
  margin: 0 auto;
}

.catalog__container {
  background-image: url(../Images/Fon_1.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  padding-top: 220px;
}

.catalog__title {
  margin-top: 0px;
  margin-bottom: 110px;
  margin-top: 110px;
  color: #515076;
}