body {
  font-family: Arial, sans-serif;
  font-size: 13px;
}

.title {
  font-size: 70px;
  font-weight: 400;
  line-height: 78px;
  margin: 0;
  text-align: center;
  color:#515076
}

.product-card {
  width: 340px;
  height: 573px;
}

.product-list {
  list-style-type: none;
  background: #F7F7FA;
  width: 290px;
  padding: 25px;
  margin: 25px;
 }

.appointment {
  font-weight: 400;
  font-size: 12px;
  line-height: 5px;
  color: #A5A3B9;
  
}

.description, 
.compound, 
.list { 
  color:#515076 ;
  padding: 0px;
  
}

.list {
  line-height: 18px;
  padding: 18px;
}
  
.sell {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  justify-content: left;
  text-align: left
}

.tag {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #515076;
  text-align: right
}








 


  
