@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

* {
    box-sizing: border-box;
}

.catalog {
  background-image: url(../images/fon_flowers.png);
  background-repeat: no-repeat;
  background-position: 495px 0; 
  background-size: auto;
  padding-top: 220px;
}

.catalog__title {
  margin-bottom: 110px;
  margin-top: 0px;
  color: #515076;
  text-align: center;
  font-size: 70px;
  font-weight: 400;
  line-height: 78px;
  font-style: Regular;
}

.products-item {
  width: 340px;
  background-color: #F7F7FA;
  padding: 25px;
}

.product-category {
  display: block;
  text-transform: uppercase;
  font-size: 12px;
  margin-top: 30px;
  margin-bottom: 0px;
  color: #A5A3B9;
}

#product-list {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center; 
  width: 1150px; 
  gap: 45px; 
  margin: 0 auto; 
  padding: 20px;
  list-style: none;
  color: #515076;
  font-weight: 400;
  font-family: Montserrat;
  font-style: Regular;
  font-size: 13px;
  line-height: 18px; 
}

.product-image {
  display: block;
  margin-bottom: 0px;
  
}

.product-name {
  margin-top: 15px;
  margin-bottom: 0px;
  font-family: Montserrat;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  
}

.product-description {
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 0px;
}

.product-compound {
  display: block;
  margin-top: 0px;
}

.compound-list {
  margin-top: 5px;
  margin-bottom: 15px;
  padding-left: 0;
  list-style-position: inside;
}

.compound-list li {
  line-height: 1.5;
}


.product-price {
  display: flex;
  justify-content: space-between;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin-top: 25px;
  width: 100%; 
}
